﻿.jqFileUploadPanel
{
    border: 1px solid #ABA7C2;
    padding: 5px;
    /* Rounded corners */
    border-radius:          5px; 
    -moz-border-radius:     5px; 
    -webkit-border-radius:  5px;     
}