﻿@font-face
{
    font-family: 'HelveticaLTStd-Cond';
    src: url('Fonts/HelveticaLTStd-Cond.otf'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style:normal;    
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-ExtraBold.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-ExtraBoldItalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Light.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-LightItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Semibold.ttf") format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-SemiboldItalic.ttf") format('truetype');
    font-weight: bolder;
    font-style: italic;
}


html
{
   
}


body
{
    font-family: OpenSans;
    font-size: 16px;
    background-color: #FCFAFC;
    background: url("../Images/SdA-Background.png");
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    margin:0;
    min-width: 572px;
}

.ui-widget-overlay {
  background: #666 url("../Images/Overlay-Background.png") 50% 50% repeat;
  opacity: .7!important;
  background-size:10%;
  filter: Alpha(Opacity=50);
}

p, div
{
    font-family: OpenSans;
}

form
{
}

a
{
    border: 1px solid transparent;
}
    
img
{
    vertical-align: middle;
    padding: 5px;
    border: 1px solid transparent;
}


input, select
{
    border: 1px solid #ABA7C2;
    font-family: OpenSans !important;
    font-size: 16px !important;
    margin: 1px 0px 1px 0px;
    padding: 2px 2px 2px 2px;
}
input[type="text"], input[type="password"]
{
    width: 98%;
}
select 
{
    width: 100%;
}
textarea
{
    /* resize: none; */
    font-family: OpenSans !important;
    font-size: 16px;
    width: 99%;
    height: 100%;
    /*border: none;*/
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

fieldset
{
   border:none;
}

#mensajeRotativo fieldset table
{
   background-color: #3DB991;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   font-size: 14px;
   height: 50px;
   color:#fff;
}

#mensajeRotativo fieldset table p
{
  text-align: center;
}

#mensajeRotativo fieldset table label
{
    margin-left: 10px;
}

#mensajeRotativo fieldset table td:first-child
{
    background-color: #3AA078;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#ultimasNovedades fieldset table
{
   background-color: #E59F2E;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   font-size: 14px;
   height: 50px;
   text-transform: uppercase;
   color:#fff;
}

#ultimasNovedades fieldset table p
{
  text-align: center;
  text-transform: uppercase;
}

.bloque-ultimo 
{
    margin-top: 16px;
}
.bloque-ultimo .lo-ultimo
{
    width:112px;
    height: 32px;
    padding: 7px 0px;
    color: #fff;
    font-family: OpenSans;
    font-style:italic;
    text-align: center;
    text-transform: uppercase;
    background-color: #89ce61;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    display: inline-block;
    float:left;
}
#listaNovedades 
{
    display: inline-block;
    float:left;
    width: calc(100% - 112px);
	width: -moz-calc(100% - 112px);
	width: -webkit-calc(100% - 112px);
    height: 32px;
    background-color: rgba(52, 117, 87, .5);
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomright: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
#listaNovedades .entrada 
{
    width: 100%;
}
#listaNovedades img
{
  height:32px;
  width:32px;
  padding-top: 2px;
  float: left;
}
#listaNovedades .details
{
    font-family: OpenSans;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    padding: 6px 5px;
	width: calc(100% - 40px);
}
@keyframes marquee {
    0%   { text-indent: 100px }
    100% { text-indent: -1000px }
}

@-webkit-keyframes marquee {
    0%   { text-indent: 100px; }
    100% { text-indent: -1000px }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 8s linear infinite;
    -webkit-animation: marquee 8s linear infinite;
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#listaNovedades a {
    color:#89ce61 
}
.noResize
{
    resize: none;
}
.resizeOnlyVertical
{
    resize: vertical;       
    /* min-height:50px */
    max-height: 100px;
}
.resizeOnlyHorizontal
{
    resize: horizontal;    
    /* min-width: 100px */
    max-width: 200px;
}

.notAvailable
{
    text-decoration: none line-through;
    opacity: 0.5;
    cursor: default;
}
.disabled
{
    color: graytext;
    background-color: #E6E6E6;
    background: url('../Images/grisado.png');
    border: 1px solid #c4c2c3;
}

#pnlMenuPrincipal
{
  cursor: pointer;
}

#pnlTopMenu
{
    height: 100px;
}
#pnlSubMenu
{
    min-width: 690px;
    max-width: 690px;
    min-height: 45px;
    max-height: 45px;
}
#pnlListaPaises
{
  width: 92px;
  height: 92px;
  background: url("../Images/Header-BanderaButton.png") no-repeat;
  background-size:  92px 92px;
}

#listaPaises .dd-container
{
   width: 65px!important;
}

#pnlSesion
{
   margin-right: 16px;
   width: 96px;
   margin-top: 13px;
}

#pnlSesion label
{
    font-size: 13pt;
    font-family: OpenSans;
    font-weight: 100;
    font-style: normal;
}

#pnlSesion span
{
    border-radius: 20px;
    padding: 4px 5px;
}

#pnlSesion img
        {
            /*
            width: 24px;
            height: 24px;
            */
            padding: 0px;
        }

#pnlSesion #mnuLogin
{
    background-color: transparent;
}
#pnlSesion #mnuAdmin
{
    background-color: #1B6044;
    text-align:center;
}
#pnlSesion #mnuSesion
{
    background-color: #1B6044;
    text-align:center;
}
#pnlSesion #mnuRegistrarse
{
    background-color: #89ce61;
    text-align:center;
}
#pnlSesion #mnuMisDatos
{
    background-color: #204234;
    text-align:center;
}

#Header{
    color:#fff;
    height: 108px;
}
#Header .navbar-inverse {
    border: none;
    box-shadow: none;
    background: none;
    min-height: 80px;
    padding: 8px 0px;
}
#Header .navbar-inverse .navbar-collapse ul{
    width:calc(100% - 442px);
	width: -moz-calc(100% - 442px);
	width: -webkit-calc(100% - 442px);
}

#Header .navbar-inverse .navbar-nav > li > a
{
    color: #fff;
    text-transform:uppercase;
    text-shadow: none;
    font-family:OpenSans;
    font-size: 12pt;
    font-weight: bolder;
    font-style:normal;
    height:92px;
    padding: 36px 0px;
    text-align: center;
}
#Header .navbar-inverse .navbar-nav > li > a:hover, #Header .navbar-inverse .navbar-nav > li > a:focus 
{
    background-color: rgba(52, 117, 87, .5);
}
#Header .navbar-nav > li{
    width: 20%;
}
#Header .logo {
    width: 282px;
    height:92px;
    background: url("../Images/Header-Logo.png") no-repeat;
    background-size: contain;
}
#Header .navbar-brand 
{
    padding: 0px;
    color: #fff;
    text-shadow: none;
}

#footerContainer
{
    /*border-top: 1px solid #ccc;*/
    padding: 0px;    
}

#footer
{
  padding: 10px 0px 20px 0px;
}
#footer .panel-sponsors{
    margin-bottom: 20px;
	padding: 0px;
}

.link-red-social a
{
  text-decoration: none;
  color: #fff;
  float: left;
}

#container
{
    /*background-color: #FCFAFC;*/
}
#container .column
{
            
}
#container .column.left
{
            
}
#container .column.right
{
}

.loadingMessageText
{
    /*
    color:          Black;
    font-weight:    bold;
    */            
    font-size:      18px;
    text-shadow:    1px 1px 5px Gray;
}
.transparent
{
    background: transparent;
    border: 0px solid Black;
}

.valorRanking
{
    text-align: right;
    padding: 0px 5px 0px 0px;
}
        
#pnlAyuda, #pnlAcciones, #pnlMisTotales
{
    width: 250px;
    padding: 5px 10px 5px 10px;
}
#pnlSponsors_Primario
{
    height: 88px;
    width: 240px;
    padding: 0px;
    float: left;
}

#pnlSponsors_Primario .titulo
{
  background: none;
}
#pnlSponsors_Primario .titulo b
{
  font-weight:100;
}

#pnlSponsors_Secundario
{
    height: 88px;
    width: 256px;
    padding: 0px;
    float: left;
}

#pnlSponsors_Secundario .titulo
{
  background: none;
}
#pnlSponsors_Secundario .titulo b
{
  font-weight:100;
}

#pnlSponsors_Terciario
{
    height: 88px;
    width: calc(100% - 500px);
	width: -moz-calc(100% - 500px);
	width: -webkit-calc(100% - 500px);
    float: left;
    padding: 0px;
}

#pnlSponsors_Terciario .titulo
{
  background: none;
}
#pnlSponsors_Terciario .titulo b
{
  font-weight:100;
}

#pnlSponsors_Terciario fieldset
{
  height: 80px;
  width: 100%;
  margin-top: 0px !important;
  border: none;  
}

#pnlSponsors_Terciario fieldset center
{
  height: 80px;
  max-width: 100%!important;
}

#sliderSponsors_Terciario
{
  height: 80px;
  width: 100%!important;
}

#header
{
    /*
    display:                    none;
            
    color:                      White;
    font-size:                  12px;

    text-decoration:            none;
    border:                     1px solid #485951;
    outline:                    none;
            
    background-image:           url(../Images/Header.gif);

    -moz-box-shadow:            1px 1px 3px #111;
    -webkit-box-shadow:         1px 1px 3px #111;
    box-shadow:                 1px 1px 3px #111;
    */
    background-color: #1E4E3D;
}

.titulo
{
    text-align: center;
    color:#fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase; 
    padding: 2px 0px;
    background-color: rgba(52, 117, 87, .5);
}
label.titulo{
    background-image: none;
}

.acciones-parent 
{ 
	width: 100%;
    height: 80px;
    position: relative;
}
#accionesContainer
{
	width: 100%;
    display: inline-block;
	background: rgba(40,56,47,0.8);
    margin-top: 16px;
	position: fixed;
	bottom: 5px;
	z-index: 100;
}

#accionesMenu
{
	float:left;
	display: inline-block;
    margin-bottom: -5px;    
}
#contadoresRedesSociales
{
	float:right;
	display: inline-block;
	padding: 0px;
    margin-top: 5px;
    margin-bottom: -5px;
}

#contadoresRedesSociales .fb_iframe_widget span 
{
    vertical-align: initial!important;
}

.titulo-acciones{
   width: 220px;
    height: 72px;
    float: left;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 25px;
    padding: 11px 25px;
	color: #fff;
}
#accionesMenu .titulo-acciones
{
    font-weight: 100;
    color: #89ce61;
}
#accionesMenu .titulo-acciones p
{
    font-weight: 800;
    color: #fff;
}
#accionesMenu .options
{
    display: inline-block;
}

#accionesMenu .options .itemText
{
    text-transform: uppercase;
    display:inline;
}
#accionesMenu .options .item
{
	width: 128px;
	height: 72px;
	display: inline-block;
	float: left;
    cursor: pointer;

 }
#accionesMenu .options .item:hover
{
    cursor: pointer;
	background: #E49E2E;
}
#accionesMenu .options .item.disabled
{
    opacity: 0.2;
}
#accionesMenu .options .item img
{
    width: 128px;
    height: 72px;
}

#contadoresRedesSociales .titulo-acciones
{
	padding-top: 18px;
	text-align: right;
    width: 65px;
}

#contadoresRedesSociales span
{
	padding: 0px 5px;
}

#pnlContent
{
   background: url("../Images/Background.png");
   width:calc(100% - 270px);
   width: -moz-cal(100% - 270px);
   width: -webkit-calc(100% - 234px);
}

.link
{
    vertical-align: middle;
    text-decoration: none;
}
.link:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.link.label:hover
{
    text-decoration: underline;
    cursor: pointer;
}
link:active, link:visited
{
    color: white;
}
        
.negrita
{
    font-weight: bold;
}
.cursiva
{
    font-style: italic;
}
.subrayado
{
    text-decoration: underline;
}

.progressBar
{
    float:  left;
    width:  150px;
    height: 15px;    
}

/*
.panel
{
    padding: 10px 10px 10px 10px;
            
    border-radius:          5px; 
    -moz-border-radius:     5px; 
    -webkit-border-radius:  5px; 
            
    -moz-box-shadow:    0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow:         0px 0px 4px #000000;
}
*/
.panel
{
    float: left;
    width: 100%;
    padding: 5px 0px 5px 0px;
}
        
.recuadroVerde
{
    background-color: #CCE2C4 !important;
    border: 1px solid #8CBA7B !important;
}

.textoSombreado
{
    text-shadow:    1px 1px 1px White;
}

.volver
{
    width: 120px;
}

.tipAcciones
{
    font-weight: bold;
    font-style: italic;
}

.subrayadoTriple
{
    border-bottom:  10px solid #FCEE7C;
    line-height:    2.0em;
}

.feedRedesSociales
{
    /*
    margin-top:     60px;
    border:         solid 1px #333634;
    */
    
    /* Rounded corners */
    /*
    border-radius:          5px; 
    -moz-border-radius:     5px; 
    -webkit-border-radius:  5px;
    */     
}

.footerTexto
{
   font-style: italic;
   color: White;
   text-decoration: none;
}
.footerTextoActivo
{
    cursor: pointer;
    color: #58E8C0; /* #3DBA97; */
    text-decoration: underline;
}

.bordeRedondeado
{
    border: solid 1px #333634;
    
    /* Rounded corners */
    border-radius:          5px; 
    -moz-border-radius:     5px; 
    -webkit-border-radius:  5px;
}

.button
{
    /*width: 99%;*/
    width: 100px;
    padding-right: 10px !important;
    background-repeat: no-repeat !important;
    background-position: 10px !important;
    text-align: right;
    height: 30px;
    box-shadow: 1px 1px 1px gray;
    margin: 5px 10px 5px 0px;
}
.button:active
{
    cursor: pointer;
	position: relative;
	top: 2px;
}
.button.centrado
{
    text-align: center;
    padding-right: 0% !important;
    padding-left: 5% !important;
}

.btnMapear
{
    background-image: url(../Images/Mapear.png) !important;
}
.btnGuardar
{
    background-image: url(../Images/Comun/16x16/Guardar.png) !important;
}
.btnAgregar
{
    background-image: url(../Images/Comun/16x16/Agregar.png) !important;
}
.btnEditar
{
    background-image: url(../Images/Comun/16x16/Editar.png) !important;
}
.btnEliminar
{
    background-image: url(../Images/Comun/16x16/Eliminar.png) !important;
}
.btnLocalizar
{
    background-image: url(../Images/Comun/16x16/Localizar.png) !important;
}
.btnPosicionActual
{
    background-image: url(../Images/Comun/16x16/Home.png) !important;
}
.btnReportes
{
    background-image: url(../Images/Comun/16x16/Reportes.png) !important;
}
.btnReporteUsuarios
{
    background-image: url(../Images/Indicadores/individuos.png) !important;
}
.btnReportePlantaciones
{
    background-image: url(../Images/Indicadores/plantaciones.png) !important;
}
.btnReporteAdopciones
{
    background-image: url(../Images/Indicadores/adopciones.png) !important;
}
.btnReporteDonaciones
{
    background-image: url(../Images/Indicadores/donaciones.png) !important;
}
.btnReporteActividades
{
    background-image: url(../Images/Indicadores/actividades.png) !important;
}

.btnEmail
{
    background-image: url(../Images/Comun/16x16/Email.png) !important;
}
.btnExportar
{
    background-image: url(../Images/Comun/16x16/Export.png) !important;
}
.btnExportarExcel
{
    background-image: url(../Images/Comun/16x16/Excel.png) !important;
}
.btnExportarWord
{
    background-image: url(../Images/Comun/16x16/Word.png) !important;
}
.btnExportarPdf
{
    background-image: url(../Images/Comun/16x16/Pdf.png) !important;
}
.btnExportarHtml
{
    background-image: url(../Images/Comun/16x16/Html.png) !important;
}
.btnImprimir
{
    background-image: url(../Images/Comun/16x16/Imprimir.png) !important;
}
.btnSubirImagen
{
    background-image: url(../Images/Foto.png) !important;
    width: 90px;
}


.icono16x16
{
    height: 16px;
    width:  16px;
    vertical-align: middle;
}
.icono24x24
{
    height: 24px;
    width:  24px;
    vertical-align: middle;
}
.icono32x32
{
    height: 32px;
    width:  32px;
    vertical-align: middle;
}
.icono48x48
{
    height: 48px;
    width:  48px;
    vertical-align: middle;
}

.tituloSeccion
{
    font-size: 1.5em;
    vertical-align: middle;
}

/* MENUS */
#pnlTopMenu, #pnlSubMenu
{
}
#pnlTopMenu
{
    font-size: 14px;
    color: #FFFFFF;
}
#pnlTopMenu .item
{
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 53px;
  padding-top: 57px;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
}
#pnlTopMenu .item.disabled
{
    /*color: gainsboro;*/
    opacity: 0.2;
}
#pnlTopMenu .item:hover
{
    background-color: #89CE61;

    /*
    border: 1px solid #63C794;
    background-color: #4CED9A;
    color: #fff;
    
    -webkit-box-shadow: 1px 1px 1px gray;
    box-shadow: 1px 1px 1px gray;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    */
}
#pnlTopMenu .item:active 
{
    cursor: pointer;
	position: relative;
	top: 2px;
}

#pnlTopMenu ul{
   list-style:none;
   margin: 0px;
}

#pnlTopMenu li.item{    
   /*  width: 17%; */
     width: 23%;
     min-width: 136px;
  }
/* Fin de [MENUS] */

.menuItem
{
    color:              #333634;
    font-size:          12px;
    font-weight:        bold;
    text-shadow:        0 1px 0 #fff;
    
    position: relative;
    margin: 0 0 5px 0;
    padding: 8px;

    border-radius: 4px;    

    border: solid 1px #D0D0D0;
    background: white;
    box-shadow: inset 0px 0px 0px 1px white;    
}

.rightCorner
{
    float: right;
    padding-top: 10px;
}
        
.imgAccion
{
    background-color:   white;
    width:              80px;
    height:             80px;
}

.bloque-mapa 
{
    margin-top:16px;
}
.periodos 
{
    width: 112px;
    height: 336px;
    display: inline-block;
    float: left;
    font-family: OpenSans;
    color:#fff;
    background-color: rgba(52, 117, 87, .5);
}
    .periodos .item-periodo 
    {
        height: 48px;
        padding: 15px;
        font-weight: 100;
        font-size: 16px;
    }
    .periodos .text-periodo 
    {
        display: none;   
        margin: 0px;     
    }
    .periodos .actual
    {
        padding: 3px 15px;
        background-color: #89ce61;
    }
    .periodos .arrow {
        display: none;
    }
    .periodos .actual .arrow {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent #ffffff;
        margin: -28px 0px 0px 80px;
    }
    .periodos .actual .text-periodo 
    {
        display: block;
    }
    .periodos .value-periodo 
    {
        cursor:pointer;
        text-align:center;
        margin: 0px;
    }
    .periodos .actual .value-periodo 
    {
        cursor:pointer;
        text-align:left;
        font-weight: 900;
    }
.mapa 
{
    width: calc(100% - 224px);
	width: -moz-calc(100% - 224px);
	width: -webkit-calc(100% - 224px);
    height: 336px;
    display: inline-block;
    float: left;
}
.indicadores
{
   width: 112px;
   height: 336px;
   display: inline-block;
   float: left;
   background-color: rgba(52, 117, 87, .5);
}

.indicadores .indicador
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 1px;
    padding-left: 5px;
    height: 48px;
}

.indicadores .tooltipBottom label.titulo-indicador
{
      font-size: 13px;
      display: block;
      color:#fff;
      font-weight:100;
      text-transform: uppercase;
      margin:0px;
      padding-top: 5px;
}

.indicadores .tooltipBottom label.valor-indicador
{
     color:#fff;
     font-size: 15px;
}

#plantaciones
{
     background-image: url("../Images/Icon-Plantaciones.png");
}

#donaciones
{
     background-image: url("../Images/Icon-Donaciones.png");
}

#adopciones
{
     background-image: url("../Images/Icon-Adopciones.png");
}

#individuos
{
     background-image: url("../Images/Icon-Individuos.png");
}

#instituciones
{
     background-image: url("../Images/Icon-Instituciones.png");
}

#municipios
{
     background-image: url("../Images/Icon-Municipios.png");
}

#co2capturados
{
     background-image: url("../Images/Icon-CO2Expulsado.png");
}
.banner
{
    /*
    float: left;
    width: 100%;
    height: 52px;
    padding: 10px 0px 10px 0px;
    overflow: hidden;

    font-size: 14px;
    color: #22B4B4;
    */
    margin: 5px 0px 5px 0px;
}
#mensajeRotativo
{
    text-transform: uppercase !important;
    margin: 14px 7px 0px 5px;
}
#ultimasNovedades
{
    font-size: 12px !important;
    margin: 11px 11px 0px 9px;
}

.mensajeDeAyuda
{
    cursor: pointer;
}

.panelAyuda
{
    margin: 0px 0px 0px 25px;
    padding: 15px 15px 15px 15px;
    background-color: #FCFDFD;
    border: 1px solid #CCE2C4;
    border-top: 0px solid transparent;
    color: #000;
}

.rowHeader
{
    font-weight: bold;
}
.fila
{
    height:             25px;
    padding:            5px 5px 5px 5px;
    text-decoration:    none;
    vertical-align:     middle;
    font-weight:        normal;
    color:              Black;
    border:             1px dashed #ccc;
}
.fila label
{
    cursor: pointer;
}
.fila:hover
{
    /*
    background-color:   #959AC2;
    background-image:   -moz-linear-gradient(top,rgba(255,255,255,0.25),rgba(255,255,255,0.05));
    background-image:   -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,0.25)),color-stop(1, rgba(255,255,255,0.05)));
    border:             1px solid #485951;
    */
    background-color: #CCE2C4;
    border: 1px solid #8CBA7B;

    color:              White;

    -moz-box-shadow:    1px 1px 3px #111;
    -webkit-box-shadow: 1px 1px 3px #111;
    box-shadow:         1px 1px 3px #111;

    cursor:             pointer;
}

.tblInteractiva
{
}
.tblInteractiva td
{
    text-align: center;
}

.invisible
{
    display:none;
}

.foto
{
    margin:             1px;
    padding:            4px;
    border:             solid 2px #DDD;
    background-color:   White;
}        

/* ACTIVIDADES */
.actividades
{ 
    overflow: hidden;
    background-color:   Transparent; /* White; */
}
.actividadTitulo
{
    padding:            5px;
    font-size:          13px;
    font-weight:        bold;
    text-decoration:    underline;
    /*
    color:              White;
    text-shadow:        Black 0.1em 0.1em 0.2em;
    */
    background-color:   Transparent;
    cursor:             pointer;
}
.actividadTexto
{
    padding:            5px;
    background-color:   Transparent; /* White; */
}
.actividadTexto label
{
    cursor:             pointer;
    background-color:   Transparent; /* White; */
}
.actividadLink
{
    padding:            5px;
    background-color:   White;    
}
.actividadesVerListado
{
    border:                 solid 1px Black;
    padding:                5px;
    font-size:              13px;
    font-weight:            bold;
    text-shadow:            Black 0.1em 0.1em 0.2em;
    background-color:       #333634;
    cursor:                 pointer;
    /* text-decoration:        underline; */
    
    /* Rounded corners */
    border-radius:          5px; 
    -moz-border-radius:     5px; 
    -webkit-border-radius:  5px;
}
.actividadesVerListadoTexto
{
    color: White;
    text-decoration: none;
}
.actividadesVerListadoTextoActivo
{
    color: #959AC2;
    cursor: pointer;
    text-decoration: underline;
}
.btnParticiparEnActividad
{
    float: right;
    text-align: center;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bloque-actividades {
    margin-top: 16px;
}

#agenda-actividades
{ 
  height: 168px;
  width: 100%;
  margin:0px;
  color:#fff;
  font-family: OpenSans;
}

#panel-actividades
{   
    padding: 0px;
}

#btnAgregarNuevaActividad p
 {
    text-transform: uppercase;
    font-size: 13px;
    height: 32px;
    width: 216px;
    padding: 6px 13px;
    background-color: rgba(52, 117, 87, .5);
}

#btnAgregarNuevaActividad .button
 {
  width: 88px!important;
  height: 32px;
  line-height: 1px;
  margin: 0px;
  float: right;
  color: #ffffff;
  background-color: #E49E2E;
  border: none;
  font-weight: bold!important;
  font-size: 25px!important;
  border-radius: 0px;
  text-align: center;
  background-image: none!important;

}

.contenido-actividades::-webkit-scrollbar {
    width: 18px;
}
 
.contenido-actividades::-webkit-scrollbar-track {
    background-color: #89ce61; 
    
}
 
.contenido-actividades::-webkit-scrollbar-thumb {
    background-color: rgba(40,56,47,0.8);
    border: solid 5px transparent;
    background-clip: content-box;
}

.titulo-actividades
{
    position: absolute;
    margin: 4px 23px;
    z-index: 99;
    text-transform: uppercase;
    font-size: 11px;
}

#pnlActividades
{
    float:left;
    width:304px;
    height: 228px;
    padding-bottom: 10px;
}


#pnlActividades .ui-datepicker
{
    border:none;
}

#pnlActividades .ui-datepicker-title
{
    text-align: right;
    margin-top: -4px;
    margin-right: 15px;
    font-weight: 100;
    color: #204234;
}

#pnlActividades .ui-widget-content
{
    background-color: transparent;
    padding: 0px;
}

#pnlActividades .ui-datepicker-header
{
  border-radius: 0px;
  border: none;
  background: #89CE61;
  color: #fff;
  height: 24px;
}

#pnlActividades .ui-datepicker-header a
{
    margin-top: -2px;
}

#pnlActividades thead
{
    color: #fff;
}
#pnlActividades thead tr
{
    height: 38px;
}

#pnlActividades tbody td span
{
    background: transparent;
    border: none;
    color: #fff;
    padding: 3px;
    text-align: center;
    font-family: OpenSans!important;
}

#pnlActividades tbody td[data-handler="selectDay"]
{
    color: #fff;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
#pnlActividades tbody td[data-handler="selectDay"] .ui-state-highlight
{
    margin: 0px!important;
    border: none!important;
}

#pnlActividades tbody td[data-handler="selectDay"] .ui-state-default
{
    margin: 0px;
    padding: 5px;
    background: #89CE61;
    color: #fff !important;
}

#pnlActividadesPorFechaInfo
{
    float: left;
    background: rgba(52, 117, 87, .5);;
    width: calc( 100% - 304px);
	width: -moz-calc(100% - 304px);
	width: -webkit-calc(100% - 304px);
    display:inline;
    padding-bottom: 10px;
    height: 228px;
}

#pnlActividadesPorFechaInfo .header
{
    margin:0px;
    height: 24px;
    padding: 8px!important;
    background-color: rgba(52, 117, 87, .5)!important;
    border:none!important;    
}
#pnlActividadesPorFechaInfo .header .actividad-dia
{
    float: left;
    width: 50%;
    text-transform: capitalize;
    margin-top: 0px;
    font-size: 13px;
    line-height: 7px;
    color: #fff;
}
#pnlActividadesPorFechaInfo .header .num-eventos
{
    float:right; 
    width:50%;
    display:inline; 
    text-transform: uppercase; 
    text-align: right;
    margin-top: 0px;
    font-size: 13px;
    line-height: 7px;
    font-style: italic;
    color:#89ce61;
}
#pnlActividadesPorFechaInfo .cuerpo
{
    padding: 10px 5px;
    color: #fff;
    font-weight:100; 
}
#pnlActividadesPorFechaInfo .cuerpo div
{
    padding: 5px 5px;
}

#pnlActividadesPorFechaInfo .contenido-actividades
{   
    width: 100%;
    overflow-y: auto;
    height: 204px;
}

#pnlContent hr {
    border-top: 2px dashed #1B6044;
    border-bottom: none;
    margin: 0px 40px -6px 20px !important;
    position: relative;
    background: none;
}

#pnlActividadesPorFecha hr {
    border-top: 1px dashed #1B6044 !important;
    border-bottom: none;
    margin: 0px 0px -5px 20px !important;
}
/* Fin de [ACTIVIDADES] */

/* FOOTER */
.footer
{
    text-shadow:                1px 1px 1px #011c44;
    background-color:           #ffffff;
            
    /* Sombreado */
    -moz-box-shadow:            1px 1px 3px #111;
    -webkit-box-shadow:         1px 1px 3px #111;
    box-shadow:                 1px 1px 3px #111;
}
#sliderSponsors
{
    padding: 10px 10px 10px 10px;
    width: 90%;
    background-color: White;
    margin: 0 auto;
    opacity: .60;
    filter: Alpha(Opacity=60);    
}
#listaSponsors
{
	list-style-type: none;
}
.imgSponsor
{
    cursor: pointer;
    height: 65px;
    margin: 0px;
    padding: 0px;
}

.imgSponsor.Terciario
{
    height: 65px;
    width: 130px;
    box-shadow: 1px 1px 1px gray;
    border: 1px solid #ccc;
    padding: 2px;
}
#aritmica
{
    float: right;
    width: 100%;
    display: block;
    padding: 15px;
	margin-top: -5px;
    color:#fff;
    background-color: rgba(52, 117, 87, .5);
}

#aritmica .list-links{
    list-style:none;
    padding-top: 0px;
	font-weight: 100;
}

#aritmica .list-links li a{
    color: #fff;
    text-decoration:none;
}

 #aritmica .list-links li a:hover{
    text-decoration:underline;
    cursor: pointer;
}
.copyright 
{
    width:100%;
    text-transform:uppercase;
    font-weight: 100;
    text-align: center;
    color: #89ce61;
}

/* Fin de [FOOTER] */

/* Side-Menu */
.sideMenu
{
    display: none;
    position: fixed;
    top: 95px;
    height: 30px;
    font-size: 24px;
    z-index: 1000;
}
.sideMenu.left
{
    left: 0px;
}
.sideMenu.right
{
    right: 0px;
}
.sideMenu .options
{
    float: left;
    border: 1px solid #8CBA7B;
    overflow: hidden;
    background-color: #fff;
    color: #1C4A34;
    -moz-box-shadow: 1px 1px 3px #3d3b3d;
    -webkit-box-shadow: 1px 1px 3px #3d3b3d;
    box-shadow: 1px 1px 3px #3d3b3d;
}
.sideMenu.left .options
{
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;      
}
.sideMenu.right .options
{
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;  
}
.sideMenu .options .title
{
    color: #5B5E5A;
    font-size: 18px;
    /*padding-top: 5px;*/
}
.sideMenu .options .item
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    
    padding-top: 10px;
    font-size: 16px;
}
.sideMenu .options .item:hover
{
    border-top: 1px solid #63C794;
    border-bottom: 1px solid #63C794;
        
    background-color: #4CED9A; /* #ACCA24; */
    color: #fff;
    cursor: pointer;
}
.sideMenu .options .item img
{
    width: 85px;
    height: 85px;
}
.sideMenu .toggler
{
    position: relative;
    cursor: pointer;
    border: 1px solid #8CBA7B;
    background-color: #CCE2C4;
    padding: 2px;
}
.sideMenu.left .toggler
{
    float: right;
    
    border-left: 0px solid transparent;

    -moz-box-shadow: 1px 1px 3px #3d3b3d;
    -webkit-box-shadow: 1px 1px 3px #3d3b3d;
    box-shadow: 1px 1px 3px #3d3b3d;    
    
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
}
.sideMenu.right .toggler
{
    float: left;

    -moz-box-shadow: -1px 1px 3px #3d3b3d;
    -webkit-box-shadow: -1px 1px 3px #3d3b3d;
    box-shadow: -1px 1px 3px #3d3b3d;    

    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}
.sideMenu .toggler:hover
{
    /*background-color: #4CED9A;*/
    border: 1px solid #fad42e;
    background: #fbec88;
    color: #363636;
}
/* Fin de [Side-Menu] */

#compartirMenu
{
    z-index: 10000;    
}
#compartirMenu .options .item, #compartirMenu .options .title
{
    width: 250px;
}

.btnCompartir
{
    opacity: 0.6;
}
.btnCompartir:hover
{
    opacity: 1;
    cursor: pointer;
}


.btnCompartir
{
    background: #fff;
    width: 32px;
    height: 32px;  
    /*
    padding: 5px;
    line-height: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    */
}
.btnCompartir:hover
{
    opacity: 1;
    cursor: pointer;
}
.btnCompartir.facebook
{
    background: url('../Images/Compartir/facebook.png') no-repeat;    
}
.btnCompartir.twitter
{
    background: url('../Images/Compartir/twitter.png') no-repeat;    
}
.btnCompartir.googlePlus
{
    background: url('../Images/Compartir/googlePlus.png') no-repeat;    
}

.pnlAdvertenciaUbicacionDistinta
{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.ui-multiselect
{
    height: 25px;
    overflow-x: hidden;
    padding: 2px 0 2px 4px;
    text-align: center;
    cursor: pointer;
    width: 100% !important;
}
.ui-multiselect-menu
{
    width: 300px !important;
}

.imgLoading
{
    width: 16px !important;
    height: 11px !important;
}

.seccion
{
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.seccion .titulo
{
    background-color: rgba(52, 117, 87, .5);
    padding: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.seccion .titulo.centrado
{
    text-align: center;
}
.seccion .contenido
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sombreado
{
    -moz-box-shadow:            1px 1px 1px gray;
    -webkit-box-shadow:         1px 1px 1px gray;
    box-shadow:                 1px 1px 1px gray;
}

.validation-error-list
{
    padding-left: 16px;
    margin: 5px 10px 5px 0px;
}

/* TABLAS */
table
{
    border-collapse: collapse;
}
table.table
{
    width: 100%;
    /*height: 100%;*/
    float: left;
    clear: both;
    margin: 10px 0px 10px 0px;
    border-collapse: collapse;
    color: #3f3b36;
    border: 1px solid #ccc;
}
table.table caption
{
    padding-top:0;
    border:none;
    background-color:transparent;
    text-align:center;
}
table.table, table.table th
{
    padding: 8px;
    vertical-align:middle;
    border: 1px solid #ccc;
    background-color: #eee;
    /*font-weight: normal;*/
    font-weight: bold;
}
table.table tfoot td
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
    border: 1px solid #ccc;
    background-color: #eee;
    font-weight: normal;
}        
table.table th[data-sort]
{
    cursor: pointer;
}
table.table th[data-sort]:hover
{
    text-decoration: underline;
}
table.table tr:nth-child(even) > td
{
    background-color: #f9f9f7;
}
table.table td
{
    margin: 0px;    
    vertical-align:middle;
    border:1px solid #ccc;
    font-weight:normal;
    text-indent: 5px;      
    background-color: white;      
}
table.table td input[type="text"]
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid gray;     
    border: 0px solid transparent;
    text-align: center;
}
table.table td.email
{
    color: #666;
    text-decoration: underline;
}
#paginador 
{
    margin-top:15px;
}
#paginador span,
#paginador a  
{text-decoration: none;
  border: 1px solid #BFBFBF;
  padding: 3px 5px;
  margin: 2px;
  color: #fff;
}

#paginador span.current
{
  border-color: #fff;
}

/* Fin de [TABLAS] */

/* Inicio de [NOTICIAS] */
.bloque-noticias 
{
    margin-top:16px;
}
#carouselNoticias .carousel-inner > .item > img, #carouselNoticias .carousel-inner > .item > a > img {
    width: 100%;
	position: relative;
	margin-top: 96px;
    transform: translateY(-50%);
	padding: 0px;
}
#carouselNoticias {
    height:192px;
}

#carouselNoticias .carousel-indicators{
    width: 234px;
    right: 0;
    left: Auto;
    margin: 0px;
    top: 0;
}
#carouselNoticias .carousel-indicators li {
    display: block;
    width: 234px;
    height: 48px;
    margin: 0px;
	padding: 0px;
    text-indent: 0px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0px;	
	background-color: rgba(52, 117, 87, .5);
}
#carouselNoticias .carousel-indicators .img-cont {
    height: 48px;
    width: 234px;
    overflow: hidden;
	position:relative;
	background-color: rgba(52, 117, 87, .5);
}
#carouselNoticias .carousel-indicators p {
    height: 48px;
    width: 234px;
    padding: 12px 0px;
    z-index: 15;
	background-color: rgba(52, 117, 87, .5);
	position: absolute;
    color: #fff;
	margin-top:-48px;
    font-weight: 100;
}
#carouselNoticias .carousel-indicators li.link-ver-mas{
    color: #fff;
    background-color: rgba(52, 117, 87, .5);
}
#carouselNoticias .carousel-indicators li.link-ver-mas:hover{
    background-color: #E49E2E;
}


#carouselNoticias .carousel-indicators li.link-ver-mas a{
    clear: both;
    color: #fff;
    text-decoration: none;
    margin-top: 13px;
    position: absolute;
}
#carouselNoticias .carousel-indicators img {
    width: 100%;
	height: auto;
	position: relative;
	margin-top: 24px;
    transform: translateY(-50%);
	padding: 0px;	
	
}
#carouselNoticias .carousel-inner{
    width: calc(100% - 234px);
	width: -moz-calc(100% - 234px);
	width: -webkit-calc(100% - 234px);
    height: 192px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 192px;
}
#carouselNoticias .carousel-control.right{
    right:234px;
}
#carouselNoticias .carousel-caption{
	position: absolute;
    top: 0;
    padding: 0px 20px 5px 20px;
    text-align:left;
    width: 100%;   
    right: auto;
    left:auto;
    background-color: rgba(40,56,47,0.7);
    text-shadow: none;
}

#carouselNoticias .carousel-caption h4{
    margin: 10px 0px;
}
#carouselNoticias .carousel-caption p{
    font-weight:100;
}

#pnlNoticias .seccion{
  float:none;
}

.listado-noticias .entrada {
  margin-bottom: 5px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: rgba(52, 117, 87, .5);
  height: 200px;
  color: #fff;
}

.listado-noticias a img {
  margin-right: 10px;
  margin-bottom: 0px;
  float: left;
  margin-bottom: 10px;
  overflow: hidden;
  height: 170px;
  width:300px;
}

.listado-noticias a {
  color: #fff;
  text-decoration: none;
}

.listado-noticias .fecha {
  font-size: 12px;
  font-weight: bold;
  color: #ddd;
}

.listado-noticias p {
  font-size: 13px;
  line-height: 1.1em;
  color: #fff;
  margin-top: 20px;
}

.content-noticia {
  margin: 5px 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
  border: 2px solid #CCCCCC;
}

.content-noticia .encabezado{
  border-bottom: 2px solid #238E0C;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.content-noticia .encabezado h1{
    color: #000000;
    font-size: 44px;
    line-height: 50px;
}

.content-noticia .encabezado .fecha {
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.content-noticia .encabezado p{
    margin: 0;
  font: normal 14px/22px OpenSans, Helvetica, sans-serif;
  overflow: hidden;
}
.content-noticia .imagenes{
  margin-bottom: 20px;
  width: 600px;
}
.content-noticia .texto-noticia{
  margin-bottom: 20px;
  font: normal 14px/22px OpenSans, Helvetica, sans-serif;
}

#twitterButton{
  margin: -3px 10px;
}  

#___plus_1 iframe{
  margin: -3px 0px!important;
}

/* Fin de [NOTICAS] */
/* Pagina Participar*/
.page-participar {
    color:#fff;
}
.page-participar h1{
    text-transform:uppercase;
    font-weight: 800;
}
.page-participar h3, .page-participar p, .page-participar span{
    font-weight: 100;
}

.page-participar h4{
    font-weight: 800;
    padding-left: 190px;
}

.page-participar .bloque-participar {
    display: inline-block;
}
.page-participar .texto{
     padding-left: 190px;
     display: block;
}
.page-participar .resaltado{
     color:#89ce61;
}
.page-participar img{
    height: 175px;
    width: 175px;
    display:inline-block;
    float:left;
}
/*fin pagina Participar*/
/* Inicio de [WIKI] */

#divPnlLateral .titulo-wiki{
  background: url("../Images/Lat/WikiarbolLogo.png") no-repeat;
  background-size: 225px;
  display: block;
  height: 180px;
  background-position: 20px 20px;
  display: block;
}

#divPnlLateral .titulo-wiki p{
  margin: 45px 95px;
  position: absolute;
}

#divPnlLateral .text
{
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

#divPnlLateral .colabora
{
  padding-bottom: 10px;
  margin: 20px;
  font-size: 14px;
  text-align: justify;
  border-bottom-style: dotted;
}

#divPnlLateral ul
{
    list-style: none;
    text-align: right;
    color: #204234;
    padding-right:20px;
    font-weight:bold;
}

#contentWiki{
   margin-top: -10px;
}

#listaPaisesWiki{
     margin-left: 20px;
}

#listaPaisesWiki.dd-container{
        width: 65px!important;
        float: left;
}
#listaPaisesWiki .dd-select{
        width: 65px!important;
        background-color: #89CE61;
        border: none;
}
#listaPaisesWiki .dd-option-selected{
        background-color: #89CE61;
}
#listaPaisesWiki .dd-selected{
        width: 61px!important;
        background-color: #89CE61;
}
#listaPaisesWiki .dd-options 
{
        width: 65px!important;
        height: Auto!important;
        background-color: #89CE61;
}
#listaPaisesWiki .dd-option-text{
        font-size:10px;
        padding: 10px 2px;
} 
       
#listaPaisesWiki .dd-selected label
{        
    display: none;            
}

#listaPaisesWiki .dd-options .no-value
{
     display: block!important;   
}

#listaPaisesWiki .dd-options label
{
      display: none;   
}

#txtSearch
{
   margin: 15px 0px 0px 20px;
   background-color: #89CE61;
   border: none;
   color: #204234;
   width:87%;
}
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #204234;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #204234;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #204234;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #204234;
}

#pnlEspecies
{
  width: 25%;
  height: 650px;
  padding: 45px 20px 20px 20px;
  display:inline-block;
  float:left;
  background: #1B6044;
}

#pnlEspecies .seccion{
  float:none;
}

#pnlEspecies .button{
  width: 87%!important;
  margin: -25px 20px;
  color: #ffffff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  font-weight: bold!important;
  font-size: 40px!important;
  border-radius: 0px;
  text-align: center;
  background-image: none!important;
  cursor:pointer;
}

#pnlEspecies .pnlAgregar{
  background-color: #23824A;
  height: 56px;
  display: block;
}

#pnlEspecies .pnlAgregar:hover{
  background-color: #E49E2E;
}

#tblEspeciesWiki
{
  height: 515px;
  display:block;
  overflow-y:auto;
  background: url("../Images/Especies-Background.png");
  background-size: 20%; 
  border-radius: 0px 10px 10px 0px;
  margin-top: 30px;
}

/* Let's get this party started */
#tblEspeciesWiki::-webkit-scrollbar {
    width: 20px;
}
 
/* Track */
#tblEspeciesWiki::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
}
#tblEspeciesWiki::-webkit-scrollbar-track-piece {
   background: #54BA67;
}

/* Handle */
#tblEspeciesWiki::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #204234; 
    border: solid 3px #54BA67;
}
#tblEspeciesWiki .entrada
{
  padding: 10px 20px;
  cursor:pointer;
  font-family: Arial;
  color: #fff;
}

#tblEspeciesWiki .entrada:hover
{
  background:#1B6044!important;
}

#tblEspeciesWiki .entrada:hover  > p
{
  background:#1B6044!important;
  background-color: #204234!important;
  border: solid 1px #1E4E3C!important;
}

#tblEspeciesWiki .selected{
  background:#E49E2E!important;
}

#tblEspeciesWiki .selected > h2
{
   color: #fff!important;
}

#tblEspeciesWiki .selected > p
{
  background:#84622D!important;
  border: solid 1px #84622D!important;
}

#tblEspeciesWiki .entrada:nth-child(odd){
    background:#1E4E3C;
}
#tblEspeciesWiki .entrada:nth-child(even){
    background:#204234;
}

#tblEspeciesWiki .entrada h2
{
  color: #89CE61;
  font-size: 18px;
  text-transform:capitalize;
  font-weight: normal;
  margin: 0px;
}
#tblEspeciesWiki .entrada p
{
  display: inline-block;
  background-color: #204234;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  border: solid 1px #1E4E3C;
  text-transform:capitalize;
  font-size: 12px;
}

#pnlDetallesEspecie
{
  height: 715px;
  width: 70%;
  float: left;
  display:inline-block; 
  background: url("../Images/Wiki-Background.png");
  background-size: 20%;
}

#pnlIzqWikiInfo{
  height: 470px;
  width: 47%;
  padding: 0px 10px 9px 10px;
  float: left;
}

#pnlWikiTitulo{
  width: 60%;
  height: 63px;
  display: block;
  float: left;
  padding: 20px 20px 10px 20px;
}

#pnlWikiTitulo h2{
  margin: 5px 0px;
  line-height: 23px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  color: #89CE61;  
  text-transform: capitalize;
}

#pnlWikiIndicadores{
  width: 26%;
  height: 63px;
  display: inline-block;
  padding: 20px 20px 10px 20px;
}

#pnlWikiIndicadores .icon-indicador{
  display: inline-block;
  float: left;
  width: 30%;
  color: #89CE61;
  text-align: center;
  line-height: 50px;
}

#pnlWikiIndicadores .icon-indicador p{
  text-align: center;
  font-size: 12px;
  background: url("../Images/Middle/FlagWikiEspecie.png") no-repeat;
  background-size: 35px 60px;
  background-position: 50% 0px;
  margin-top: 0px;
  padding-top: 7px;
}

#pnlWikiIndicadores .icon-indicador img{
  width: 40px;
  height: 46px;
  padding: 0px;
}

#pnlWikiInfo{
  background: #1E4E3C;
  margin-top: 20px;
}

#pnlWikiTitulo p{
  display: inline-block;
  padding: 0px 2px;
  margin: 0px 2px;
  color: #89CE61;
  font-size: 12px;
  text-transform: capitalize;
}

#pnlIzqWikiInfo h2{
  line-height: 0px;
  font-style: italic;
  font-size: 25px;
  color: #89CE61;
  margin-bottom: 15px;
  text-transform: capitalize;
}

#pnlIzqWikiInfo p{
  display: inline-block;
  background-color: #204234;
  padding: 0px 2px;
  margin: 0px 2px;
  font-size: 12px;
  text-transform: capitalize;
}

#pnlFotos{
  height: 395px;
  width: 95%;
}

#pnlFotos .unaFoto{
  list-style: none;
  max-width: 250px;
  max-height: 306px;
}
#pnlFotos .unaFoto img{
  max-width: 250px;
  max-height: 350px;
}

#pnlFotos .pgwSlider.narrow .ps-current ul{
  width: 92%;
  margin: 0px 5% 0px 0px;
}

#pnlFotos .pgwSlider.narrow .ps-current .ps-prev{
   background: url("../Images/Middle/Arrow.png") no-repeat;
   background-size: 100%;
   border:none;
   border-radius: 0px;
   padding: 15px 15px 30px 20px;
}

#pnlFotos .pgwSlider .ps-prevIcon{
   display: none;
}

#pnlFotos .pgwSlider.narrow .ps-current .ps-prev:hover{
   background: url("../Images/Middle/ArrowMouseover.png") no-repeat;
   background-size: 100%;
}

#pnlFotos .pgwSlider.narrow .ps-current .ps-next{
   background: url("../Images/Middle/Arrow.png") no-repeat;
   background-size: 100%;
   border:none;
   border-radius: 0px;
   padding: 15px 15px 30px 20px;
   -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#pnlFotos .pgwSlider .ps-nextIcon{
   display: none;
}

#pnlFotos .pgwSlider.narrow .ps-current .ps-next:hover{
   background: url("../Images/Middle/ArrowMouseover.png") no-repeat;
   background-size: 100%;
   -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#sliderFotos li img{
  border: solid 3px #89CE61;
  padding: 0px;
  margin: 1px;
  width: 82%;
  min-height: 25px;
  height: 25px;
}

#sliderFotos.unaFoto li img{
  border: none;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#pnlDerWikiInfo{
  height: 470px;
  width: 45%;
  padding: 10px;
  display:inline-block;
  position:relative;
}

#pnlDerWikiInfo .icon-tipo-arbol{
  position: absolute;
  height: 50px;
  top: 0px;
  right: 0px;
}

#pnlDerWikiInfo .label{
  text-transform: uppercase;
  color: #89CE61;
  font-weight: bold;
}

#pnlDerWikiInfo ul{
  padding-left: 0px;
  margin: 0px;
  height: Auto;
  max-height: 180px;
  overflow-y: Auto; 
}

#pnlDerWikiInfo .mas-info{
    overflow-y: auto;
    margin-top: 25px;
    background: #204234;
    padding: 20px 15px;
    color: #89CE61;
    max-height: 50px;
}
#pnlDerWikiInfo .mas-info .icon-mas-info{
  margin: -35px 120px;
  background: url("../Images/Middle/info.png") no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px;
  position: absolute;
}
#pnlDerWikiInfo ul li{
  list-style:none;
  margin-bottom: 15px;
  color:#fff; 
}

#pnlDerWikiInfo ul::-webkit-scrollbar {
    width: 20px;
}
 
/* Track */
#pnlDerWikiInfo ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
}
#pnlDerWikiInfo ul::-webkit-scrollbar-track-piece {
   background: #54BA67;
   border-radius: 10px;
}

/* Handle */
#pnlDerWikiInfo ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #204234; 
    border: solid 3px #54BA67;
}

#pnlDerWikiInfo .mas-info::-webkit-scrollbar {
    width: 20px;
}
 
/* Track */
#pnlDerWikiInfo .mas-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
}
#pnlDerWikiInfo .mas-info::-webkit-scrollbar-track-piece {
   background: #54BA67;
   border-radius: 10px;
}

/* Handle */
#pnlDerWikiInfo .mas-info::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #204234; 
    border: solid 3px #54BA67;
}

#pnlContacto input[type="submit"]{
    border: none;
    width: 100%;
    background-color: #89ce61;
    text-align: center;
    border-radius: 20px;
    color: #fff;
}
.aportes p{
  margin: -25px 40%;
  background: #1E4E3C;
  padding: 10px 20px;
  width: 111px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #89CE61;
}

.aportes ul{
  margin-top: 40px; 
  overflow-y: auto;
  max-height: 65px; 
  width: 60%;
  float:left;
  display:inline-block; 
}

.aportes ul::-webkit-scrollbar {
    width: 20px;
}
 
/* Track */
.aportes ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
}
.aportes ul::-webkit-scrollbar-track-piece {
   background: #54BA67;
   border-radius: 10px;
}

/* Handle */
.aportes ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #204234; 
    border: solid 3px #54BA67;
}

.aportes li{
  display:inline-block;  
  margin: 5px 0px;
  padding: 0px 20px; 
}

.aportes li.aporte-usuario{
    color:#89CE61;
    background: url("../Images/Middle/AporteUser.png") no-repeat;
    background-size: 17px;
}

.aportes li.aporte-escuela{
    color:#E59F2E;
    background: url("../Images/Middle/AporteBuilding.png") no-repeat;
    background-size: 17px;
}

.aportes div{
  width: 200px;
  display: inline-block;
  float: right;
}

.aportes .btnEditar{
  font-size: 12px;
  width: 175px;
  background-image: none!important;
  text-align: center;
  background-color: #89CE61;
  color: #204234;
  margin: 40px 0px;
  padding: 10px;
  cursor: pointer;
}

.aportes .btnEditar:hover{
   background-color: #E49E2E;
   color: #fff;
}

 .panelAgregarEspecie
        {
            width: 65%;
            margin: 5px;
        }

        .panelAgregarEspecie label
        {
            color: #204234;
        }

       #tdNombres p{
            color: #204234;
            display: inline;
            position:relative;
            cursor:pointer;
        }

       #tdNombres p:hover:after {
            bottom: 25px;
            content: "Click para eliminar..."; /* este es el texto que será mostrado */
            left: 20%;
            position: absolute;
            z-index: 98;
            /* el formato gráfico */
            background: #89CE61; /* el color de fondo */
            border-radius: 5px;
            color: #FFF; /* el color del texto */
            font-family: Georgia;
            font-size: 12px;
            padding: 5px 15px;
            text-align: center;
            text-shadow: 1px 1px 1px #000;
            width: 150px;
          }

          #tdNombres p:hover:before {
            bottom: 20px;
            content: "";
            left: 50%;
            position: absolute;
            z-index: 99;
            /* el triángulo inferior */
            border: solid;
            border-color: #89CE61 transparent;
            border-width: 6px 6px 0 6px;
          }

          #tdPaises p{
            color: #204234;
            display: inline;
            position:relative;
            cursor:pointer;
          }

          #tdPaises p:hover:after {
            bottom: 25px;
            content: "Click para eliminar..."; /* este es el texto que será mostrado */
            left: 20%;
            position: absolute;
            z-index: 98;
            /* el formato gráfico */
            background: #89CE61; /* el color de fondo */
            border-radius: 5px;
            color: #FFF; /* el color del texto */
            font-family: Georgia;
            font-size: 12px;
            padding: 5px 15px;
            text-align: center;
            text-shadow: 1px 1px 1px #000;
            width: 150px;
          }

          #tdPaises p:hover:before {
            bottom: 20px;
            content: "";
            left: 50%;
            position: absolute;
            z-index: 99;
            /* el triángulo inferior */
            border: solid;
            border-color: #89CE61 transparent;
            border-width: 6px 6px 0 6px;
          }

div[aria-describedby="dialogEspecieWikiInfo"]
{
    border: solid 5px #1B6044;
    border-radius:0px;
    padding:0;
    min-width:900px;
}

div[aria-describedby="dialogEspecieWikiInfo"] .ui-dialog-titlebar
{
    display: none;
}

div[aria-describedby="dialogEspecieWikiInfo"] .ui-dialog-buttonpane
{
    display: none;
}

#dialogEspecieWikiInfo
{
    padding:0px!important;
    background-color: #639344;
}

#dialogEspecieWikiInfo .agregarEspecieHeader
{
    background: #89CE61; 
    height:50px;
}

#dialogEspecieWikiInfo .ficha-titulo
{
    display:inline-block;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    padding:10px;
}

#dialogEspecieWikiInfo .ficha-desc
{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 100;
    margin-left: 10px;
    font-size: 14px;
}

#dialogEspecieWikiInfo .btnGuardar{
    display: inline-block;
    float: right;
    height: 50px;
    margin: 0px;
    border-radius: 0px;
    border: none;
    background-color: #E59F2E;
    background-image: none!important;
    color: #fff;
    padding: 0px 15px;
}

#dialogEspecieWikiInfo .btnGuardar:hover{
    background-color: #23824A;
}
    
#dialogEspecieWikiInfo .agregarEspecieContent{
    background-color: #639344;
}

#dialogEspecieWikiInfo .agregarEspecieContent ul{
    display: inline-block;
    width: 42%;
    vertical-align: top;
    color:#fff;
    text-transform:uppercase;
    padding-right: 2%;
}

#dialogEspecieWikiInfo .agregarEspecieContent ul li{
    margin-top: 15px;
    margin-bottom: 10px;
    list-style-image: url('../Images/Middle/Dot.png');
}

#dialogEspecieWikiInfo .agregarEspecieContent ul input,
#dialogEspecieWikiInfo .agregarEspecieContent ul select,
#dialogEspecieWikiInfo .agregarEspecieContent ul textarea{
    background-color: #89CE61;
    border:none;
    color:#1E4E3C;
}

#dialogEspecieWikiInfo .agregarEspecieContent ul li label{
    font-weight: bold;
    font-family: sans-serif;
}

#dialogEspecieWikiInfo .agregarEspecieContent ul li .ui-button{
    background-color: #204234;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    color: #fff;
    background-image: url('../Images/Add.png');
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.wiki-check 
{
    content: "Nativo";
    position: relative;
    background: white;
    width: 80px;
    height: 25px;
    -webkit-appearance: initial;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline:none;
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor:pointer;
    padding: 0px;
    vertical-align: middle;
}
.wiki-check:after
{
    position:absolute;
    display:block; 
    line-height:32px;
    width:100%;
    height:100%;
    text-align:center;
    transition: all 0.3s ease-in 0s;
}
.wiki-check:after
{
    background:none;
}
.wiki-check:checked:after
{
    background:#204234;  
    color: #89CE61;
}

.wiki-check-nativo:after{
    content:"NATIVO"; 
}

.wiki-check-exotico:after
{
    content:"EXOTICO"; 
}

.wiki-check-apto 
{
    position: relative;
    width: 30px;
    height: 36px;
    -webkit-appearance: initial;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    cursor:pointer;
    padding: 0px;
    vertical-align: middle;
    background-size: 30px 36px;
    background-color:transparent!important;
}

.wiki-check-apto-vereda
{
  background-image: url('../Images/Middle/IconVereda.png');
}
.wiki-check-apto-vereda:checked
{
  background-image: url('../Images/Middle/IconVeredaSI.png');
}

.wiki-check-apto-plaza
{
    background-image: url('../Images/Middle/IconParque.png');
}

.wiki-check-apto-plaza:checked
{
    background-image: url('../Images/Middle/IconParqueSI.png');
}

.wiki-check-apto-cantero
{
    background-image: url('../Images/Middle/IconCanteros.png');
}
.wiki-check-apto-cantero:checked
{
    background-image: url('../Images/Middle/IconCanteroSI.png');
}

#dialogEspecieWikiInfo .foto
{
    background-color: #639344;
    border: 2px solid #1B6044;
    padding: 0px;
    background-size: 70px 50px;
    background-image: url('../Images/Middle/IconImage.png');
}

#dialogEspecieWikiInfo .foto:hover
{
    background-color: #1B6044;
    background-image: url('../Images/Middle/IconImageAdd.png');
    background-size: 70px 50px;
    background-repeat:no-repeat;
    background-position: 50% 50%;
}

.border-right   {
    border-right: dotted 3px #1E4E3C;
}   

/* Fin de [WIKI] */


/***************** OVERRIDES ****************/

/* Google Map */
.gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div
{
    /*font-weight: 300;*/
    font-weight: normal;
    font-size: 14px;
}
/* Fin de [Google Map] */

/* Chosen */
.chosen-container-single .chosen-single
{
    width: 97% !important;
	height: 24px !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
	border-radius: 0px !important;
    /*background: transparent !important;*/
    box-shadow: 0 0 0px #fff !important;
}
.chosen-container
{
	font-size: 16px !important;
}
/* Fin de [Chosen] */

/* jQuery Text Editor */
.jqte
{
    margin: 0px !important;
}
/*
.jqte_editor
{
    height: 450px !important;
}
*/
/* Fin de [jQuery Text Editor] */

/* qTip */
.qtip-content
{
    line-height: 18px;
}
/* Fin de [qTip] */

/************ Fin de [OVERRIDES] **************/
@media (max-width: 768px) {
    #pnlListaPaises 
    {
        float:right;
        background: url("../Images/Header-BanderaButton-Responsive.png") no-repeat;
        background-size: 92px 92px;
        margin-right: 16px;
    }
    #pnlSesion 
    {
        float:left;
    }
    .dd-option-image, .dd-selected-image {
        margin-left: -4px;
    }
    #listaPaises .dd-pointer {
        left: 28px;
    }
	#pnlSponsors_Primario {
        width: 50%;
    }
	#pnlSponsors_Secundario {
        width: 50%;
    }
    #pnlSponsors_Terciario {
        width: 100%;
    }
    #contadoresRedesSociales {
        width: 100%;
        text-align: center;
    }
    #contadoresRedesSociales .titulo-acciones{
        text-align: center;
        width: 160px;
    }
    #Header .navbar-inverse .navbar-nav > li {
        width: 100%;
    }
    .navbar-inverse .navbar-collapse {
        width: 100%;
        background: rgba(40,56,47,1);
    }
	#footer .panel-sponsors{
		padding: 0px;
	}
}	

/* =Mobile Styling
----------------------------------------------- */
@media (max-width: 972px) {
    #Header .navbar-inverse .navbar-collapse ul{
        width: 100%;
    }
}
/* =Mobile Styling
----------------------------------------------- */
@media (max-width: 907px) {
    .acciones-parent{
        height: 170px;
    }
}
